body{
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}

/*
| Index 
*/


.indexBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character iframe{
    width: 600px;
    height: 600px;
}